@{
    App app = new App();
}
@if (app.user.IsLoggedIn())
{
    @RenderPage("/Default.cshtml")
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Home - A Special Day</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="~/Includes/CSS/Home.css" type="text/css" rel="stylesheet" />
        <!-- Compiled and minified JavaScript -->


        <script type="text/javascript" src="~/Includes/JS/Home.js"></script>
    </head>
    <body>
        <header>
            <img src="~/Includes/Images/overzicht-homeknop.png" />
        </header>
        <main>
            <table>
                <tr>
                    <td>
                        <div id="login">

                            <table id="logintable" style="margin-left: calc(50% - 250px); width: 500px;">
                                <tr>
                                    <td><h2>Login</h2></td>
                                </tr>
                                <tr>
                                    <td>E-mailadres: </td>
                                    <td>
                                        <input name="email" id="email" type="email" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Wachtwoord:
                                    </td>
                                    <td>
                                        <input name="password" id="password" type="password" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button onclick="Login();" class="btn waves-effect waves-light" type="submit" name="action">
                                            Inloggen
                                            <i class="material-icons right">send</i>
                                        </button>

                                    </td>
                                    <td>
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Wachtwoord vergeten?</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div id="errormessages" style="height: 2.5vh; color:red;"></div></td>
                                </tr>
                            </table>


                        </div>
                    </td>
                </tr>
            </table>
        </main>
    </body>
</html>
}