<a href="~/Item.cshtml?item=text&id=@Request.QueryString["id"]" class="addText unselectable">
    <span class="text center">
        <text>Klik voor text</text>
    </span>
</a>
<a href="~/Item.cshtml?item=file&id=@Request.QueryString["id"]" class="addFile unselectable">
    <span class="bestand center">
        <text>Klik voor een bestand</text>
    </span>
</a>
<a href="~/Item.cshtml?item=iframe&id=@Request.QueryString["id"]" class="addFile unselectable">
    <span class="bestand center">
        <text>Klik voor een iFrame</text>
    </span>
</a>
<a href="~/Item.cshtml?item=folder&id=@Request.QueryString["id"]" class="addFile unselectable">
    <span class="bestand center">
        <text>Klik voor een folder</text>
    </span>
</a>
<a href="~/Item.cshtml?item=opdr&id=@Request.QueryString["id"]" class="addFile unselectable">
    <span class="bestand center">
        <text>Klik om een opdracht aan te maken</text>
    </span>
</a>
<a href="~/Grade.cshtml?id=@Request.QueryString["id"]" class="addFile unselectable">
    <span class="bestand center">
        <text>Klik om een opdracht te becijferen</text>
    </span>
</a>