@using WebMatrix.Data;
@{
    int userId = 1;
    Database db = Database.Open("TodoDbCntStrng");
    var userData = db.Query("SELECT users.naam, users.email, studies.naam as studie FROM users INNER JOIN studies ON studies.Id = users.studieID WHERE users.Id = @0", userId);
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/header.css" />

</head>   

<div class="header row">
    <a href="~/overzicht.cshtml"><img id="homeknop" src="~/css/overzicht-homeknop.png" /></a>
    <div class="userData_right">
        <img src="~/css/profilepic.jpg" alt="user img" float="left" id="profilepic" />
        @foreach (var item in userData)
            {
                <p>@item.naam</p>
                <p>@item.email</p>
                <p>@item.studie</p>
            }
    </div>
</div>