@using WebMatrix.Data;
@{
    App app = new App();
}

@{
    Layout = "~/_layout.cshtml";
    Database db = app.db;
    dynamic currentuser = app.user.getUser();
    //gebruikers type
    int usersoort = int.Parse(currentuser["userType"].ToString());
    //gebruikers id
    int userID = int.Parse(currentuser["Id"].ToString());
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/Includes/CSS/Overzicht.css" />
}

@section Nav {

}

@section Main {
    @{
        //cijfers ophalen uit db, alleen voor die student
        string data = "SELECT naam, OpdrachtID, cijfer, resultaat FROM courses INNER JOIN cijfers ON courses.Id = cijfers.CourseID AND cijfers.StudentId=@0";
        dynamic courses = db.Query(data, userID);

        <h1>Cijferlijst</h1>
        <table>
            <tr>
                <th>Vak</th>
                <th>Opdracht</th>
                <th>Cijfer</th>
                <th>Resultaat</th>
            </tr>

            @foreach (var vakcijfer in courses)
            {

                <tr>
                    <td>@vakcijfer.naam</td>
                    <td>@vakcijfer.OpdrachtID</td>
                    <td>@vakcijfer.cijfer</td>
                    <td>@vakcijfer.resultaat</td>
                </tr>
            }
        </table>
    }
}