@using WebMatrix.Data;
@{
    Database db = Database.Open("TodoDbCntStrng");

    int userID = Convert.ToInt32(Session["id"]);

}
<!DOCTYPE html>
<html>
<head>
    RenderPage("head.cshtml")
</head>
<body>
    <header>
        RenderPage("menu.cshtml")
    </header>
    <main>
@{
    var vstudieID = db.QueryValue("SELECT StudieID FROM users WHERE Id=@0", userID);
    int studieID = Convert.ToInt32(vstudieID);


    var vakCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
    var vakken = db.Query(vakCommand, userID);



    if (IsPost) {

        int eId = Convert.ToInt32(Request.Form["enrollen"]);
        string gebruikerstype = "student";

        var insertCommand = "INSERT INTO enrolled (usertype, CourseID, UserId) VALUES(@0, @1, @2)";
        db.Execute(insertCommand, gebruikerstype, eId, userID);

    }


    <h2>Enrroll</h2>
    <form action="~/enroll.cshtml" method="post">
        <select name="enrollen">
            @foreach (var recrod in vakken)
            {

                <option value="@recrod.Id">@recrod.naam</option>

            }
        </select>
        <input type="submit" value="enroll" />
    </form>
}
</main>
    <footer>
        RenderPage("footer.cshtml")
    </footer>
</body>
</html>