@using WebMatrix.Data;
@{
    Database db = Database.Open("TodoDbCntStrng");
    int userID = Convert.ToInt32(Session["id"]);
}
<!DOCTYPE html>
<html>
<head>
    RenderPage("head.cshtml")
</head>
<body>
    <header>
        RenderPage("menu.cshtml")
    </header>
    <main>
        @{
            string Citem = Request.QueryString["type"];

            if (IsPost)
            {

                string inleveren = "<form action="uploads.cshtml" method="post" enctype="multipart/form-data"> <label for="file">Bestand:</label><input type ="file" name ="file" id ="file" />  <input type ="submit" name ="submit" value ="upload" /> ";
                int CoItem = Convert.ToInt32(Citem);
                var updCommand = "UPDATE course_items SET desription = @0 WHERE Id =@1";
                db.Execute(updCommand, inleveren, CoItem);
            }
            else
            {
                <h2>Inleverplek Aanmaken</h2>
                            <form action="~/inleverplek.cshtml" method="post">
                                <input type="hidden" value="@Citem" />
                                <input type="submit" value="maak inleverplek" />
                            </form>
            }

        }
    </main>
    <footer>
        RenderPage("footer.cshtml")
    </footer>
</body>
</html>