body{
    margin: 0;
}
header{width:100%;position: relative;}
main{/*! width:100% */}
footer{width:100%}
main > #overzichtblokken{
    margin-top: 50px;
}
.cellcontainer{
    margin: 0 auto;
    width: 350px;
    height: 550px;
    border: 2px solid black;
    text-align: center;
   

}
.cellcontainer td{
    text-align: left;
    font-size: 16pt;
   padding-left: 10px;
}
div.hoofdmenubalk{width:2110px;height: 110px;border-bottom:2px solid black;margin-top:20px;}
#leerjaarkeuze{float:left;margin-left:170px;border:2px solid black;height: 50px;width:125px;text-align: center;text-align: center;font-size:16pt;}
#cijferlijst{height: 60px;width:125px;background-color: yellowgreen;text-align: center;padding-top:6px;font-size:14pt;margin-left:865px}
div.profiel{position: absolute;float:top;margin-left:1310px;border:2px solid;width:350px;height: 100px;text-align: left;font-family:Arial, Helvetica, sans-serif}

img{float:left;max-width:100%;max-height: 100%;}
table{
    width: 100%;
    overflow-y: scroll;
}
table img{
    width: 45px;
    float: right;
    position: relative;
    right: 10px;
}
div.overzichtblokken{margin-left:150px;margin-top:100px;padding:0px;height: 850px;width:1600px;border:3px;}
div.vak{text-align:left;height:45px; padding-top:15px; font-family:Arial, Helvetica, sans-serif;font-size:16pt}
div.periode {text-align:center;display:table-cell;height: 740px;}


#overzichtblokken{
 display: table;
 width: 100vw;   
}
#overzichtblokkenrow{
    display: table-row;
}

div.titelvak1{height: 70px;width:350px;border-bottom: 1px solid black;}
div.titelvak2{height: 70px;width:350px;border-bottom: 1px solid black;}
div.titelvak3{height: 70px;width:350px;border-bottom: 1px solid black;}
div.titelvak4{height: 70px;width:350px;border-bottom: 1px solid black;}
