body {
    background-color:grey;
}

#Upload{
            width: 300px;
            border: solid darkgray 2px;
            color: black; 
            background-color:white; 
            padding-top: 10px; 
            padding-bottom: 10px;
            padding-right: 30px;
            padding-left: 30px;
            float: left;
}